{% extends 'base.html' %}
{% block hero_body %}
    <div class="container has-text-centered">
        <h1 class="title is-2">
            Upload file
        </h1>
        <br>
        <div class="columns is-centered">
            <div class="container column is-half">
                <form action="/" method="POST" enctype="multipart/form-data">
                    <div class="file is-centered is-success has-name">
                        <label class="file-label">
                            <input class="file-input" type="file" name="image">
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Choose file ...
                                </span>
                            </span>
                            <span class="file-name">
                                 ...
                            </span>
                        </label>
                    </div>
                    <div class="control m-4">
                        <button class="button is-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <h2 class="title is-2">Uploaded images</h2>
        {% for image in images %}
            <img src="uploads/{{ image }}">
        {% endfor %}
    </div>
{% endblock %}